div{
    color: #fff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 10px;
}
body {
    margin: 0px;
    padding: 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action:manipulation;
}
.container{
    background-color:#2E4272;
    display:flex;
}
.fixed{
    background-color:#4F628E;
    width: 100px;
    height: 100px;
    border-style:outset;
    border-radius:2px;
}
.flex-item{
    background-color:#7887AB;
    flex-grow: 1;
}
